<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app = "showing">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Start page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css"/>

    <!-- Material Design for Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css"/>
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css"/>
    <!--<link rel="stylesheet" href="css/material-wfont.min.css" />-->

    <!-- Dropdown.js -->
    <!--<link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet"/>-->

    <!--<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css"/>-->

    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<link href="webjars/bootstrap-material-design/0.2.2/css/ripples.min.css" rel="stylesheet"/>-->
    <!--<link href="webjars/bootstrap-material-design/0.2.2/fonts/Material-Design-Icons.woff" rel="stylesheet"/>-->

    <script src = "//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="angularScript.js"></script>
</head>
<body style="padding: 50px;background-color: #ffe7c5">
<div>
    <div ng-controller="showCtrl" >
        <div class="jumbotron" style="background-color: #ffd6c1">

            <div class="icon-preview"><i class="mdi-action-assessment"></i></div>

            <form class="form-horizontal" style="float: left">
                <h1 class="btn btn-primary btn-lg btn-material-red-400">Angular GDI {{greeting.firstName}}  {{greeting.lastName}}</h1>
                <div class="form-group" style="margin-top: 20px">
                    <input class="form-control floating-label" id="focusedInput" type="text"
                           placeholder="Enter username"/>

                </div>
                <div class="form-group">
                    <input type="password" class="form-control floating-label" id="inputPassword"
                           placeholder="Enter password"/>
                </div>


            </form>
            <br/>
            <br/>
            <br/>
            <!--<div class="btn-group btn-group-justified">-->
            <!--<button class="btn btn-primary btn-flat"><i class="mdi-navigation-check"></i> Ok</button>-->
            <!--<button ng-click="showing()">Show</button>-->
            <!--<button ng-click="getMyData()" class="btn btn-primary btn-lg btn-material-red-50">Get data</button>-->
            <!--<button ng-click="setColor('blue')" class="btn btn-primary btn-lg btn-material-red-100">Documentation</button>-->
            <!--<button ng-click="setColor('red')" class="btn btn-primary btn-lg btn-material-red-200">Direction</button>-->
            <!--</div>-->
            <!-- -->
            <!--<div ng-show = "true">{{isShow}}</div>-->




            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                   <!--<p>Basic panel</p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div ng-show="isShow">-->
                <!--<label>Input your name:</label><input type="text"/>-->
                <!--<label>Input password:</label><input type="password"/>-->
            <!--</div>-->
        </div>
    </div>
</div>



<script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
<!--<script src = "//fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"/>-->
<!--<script src = "//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"/>-->

<script>
    $(document).ready(function() {
        $.material.init();
        $.material.ripples();
    });
</script>

</body>
</html>