<!DOCTYPE html>
<html>
<head lang="en">
    <!--<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>-->
    <meta charset="UTF-8"/>
    <title>Go JS</title>

    <script src="go-debug.js"></script>

</head>
<body>
<div id="myDiagramDiv"
     style="width:1400px; height:1150px; background-color: #ffb378;"></div>
<script>var $ = go.GraphObject.make;
var myDiagram =
        $(go.Diagram, "myDiagramDiv",
                {
                    initialContentAlignment: go.Spot.Center, // Center Diagram contents
                    "undoManager.isEnabled": true // enable Ctrl-Z to undo and Ctrl-Y to redo
                });

var myModel = $(go.Model);
// In our model data, each node is represented by a JavaScript object:
myModel.nodeDataArray = [
    {key: "NP71E.1-10-1"},
    {key: "NP73E.3-17-1"},
    {key: "NP73E.1-11-1"},
    {key: "NP71E.2-5-1"},
    {key: "CPS3"},
    {key: "NP-ADM700"}
];
myDiagram.model = myModel;
</script>

</body>
</html>